<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../downloader.css" type="text/css" />
<title>Account Information Downloader</title>
</head>
<body>

<h1>Your Account Information</h1>

<p>
Dear <TMPL_VAR name="name">,
</p>

<p>
Your login name is <code><TMPL_VAR name="username"></code>.
Keep this information carefully and secretly.
</p>

</body>
</html>
<!-- Local Variables: -->
<!-- mode: yahtml -->
<!-- coding: utf-8 -->
<!-- End: -->
